# Emacs
.emacs.d/elpa
.emacs.d/auto-save-list
.gradle/caches
.gradle/daemon
.gradle/wrapper
.gradle/native
# Tmux
.tmux/resurrect
.tmux/plugins
# Inkspace
.config/inkscape
# Music Player daemon
.mpd
!.mpd/mpd.conf
database
sticker.sql
port
.config/gtk-2.0
.config/gcloud/logs
.config/configstore/update-notifier-npm.json
qalc.history
# Irssi files obtained somewhere else
.irssi/config
.irssi/config.autosave
# Git files obtained somewhere else
.config/git/aliases/gitaliases
.config/git/aliases/custom
.config/git/identities
.config/git/config_custom
.config/git/commit-message
.config/git/identities
# JGit
.config/jgit
# Oh-my-shell files obtained somewhere else
.oh-my-shell/shellrc/plugins/custom
.config/gcloud
.config/tasklog
# Studio files obtained shomewhere else
.studio/*
!.studio/setup_and_run.sh
!.studio/README
# Pyenv
.pyenv/cache
.pyenv/sources
.config/nvim/pack/kite
# Vim
.vim/pack/kite
.vim/commands
.vim/keymap
.vim/settings
.vim/ui
.vim/cache
.vim/bundle
.vim/sessions
.vim/session
.vim/plugged
.vim/autoload/plug.vim
.config/Webull Desktop/Webull Desktop
# Libvirt
.config/libvirt/storage
.config/libvirt/qemu/nvram
.config/libvirt/qemu
# Variety
.config/variety/Downloaded
.config/variety/history.txt
.config/variety/scripts
.config/variety/variety.log
.config/variety/ui.conf
.config/variety/wallpaper
.config/variety/variety_latest_default.conf
.config/variety/.version
.config/variety/.last_change_time
.config/variety/.firstrun
# Docker
.docker/.buildNodeID
.docker/.token_seed
.docker/.token_seed.lock
.docker/scan
.docker/buildx
.docker/application-template
.docker/cli-plugins
.docker/contexts
.docker/canary.json
.docker/config.json
.docker/features.json
.docker/sbom
# bin
bin/dotfiles_private_locked_status
bin/dotfiles_private_unlock
bin/export-repository-by-replaying-commits-without-git-patches
data.json
.tfenv/versions
