[core]
    fileMode = true
    editor = vim
    exculdesfile = ~/.gitignore-global-custom
    # Set pager to display raw control characters
    # http://michael.otacoo.com/linux-2/avoid-escape-characters-in-git/
    pager = "less -r"

[push]
    # Push CURRENT branch to upstream branch
    # - works if both branchs have different names or same names
    # http://longair.net/blog/2011/02/27/an-asymmetry-between-git-pull-and-git-push/
    default = "upstream"

[color]
    ui = true

[alias]
    co = checkout
    st = status
    ci = commit
    br = branch
    type = cat-file -t
    dump = cat-file -p
    graph = log --graph

    # log commands
    lg = !git log --graph --pretty=format:'%C(bold blue)%h%C(reset)∑%C(bold green)%d%C(reset) %C(cyan)%s%C(reset) %C(red)[%an]%C(reset) %C(white)[%cr]%C(reset)' | column -t -s '∑'
    
    # diff commands
    # http://stackoverflow.com/questions/3293607/difference-between-git-head-and-the-current-project-state
    
    # Shows changes in working directory since your last commit; 
    # i.e same as diff for "git commit -a".
    dflc = diff HEAD
    
    # Shows changes between the index and your last commit; 
    # i.e same as diff "git commit" without the "-a" option.
    # Since 1.6.1 and later. Previous version --cached
    dfsc = diff --staged
    
    # Shows changes in the working directory that are not yet staged 
    # for the next commit. 
    # This is the opposite of git dflc
    df = diff

    # Shows incoming commits for current branch only
    incoming = !(git fetch --quiet && git log ..$(git rev-parse --abbrev-ref --symbolic-full-name @{u})) 
    # Shows incoming commits for all branchs 
    incomingall = !git log --remotes=origin --not --branches
    # Shows outgoing commits for current branch only
    outgoing = !(git fetch --quiet && git log $(git rev-parse --abbrev-ref --symbolic-full-name @{u})..)
    # Shows outgoing commits for all branches 
    outgoingall = !git log --branches --not --remotes=origin

[include]
    # Requires git 1.7.10+
    path = .gitconfig-custom
