.emacs.d/elpa
.emacs.d/auto-save-list
.gradle/caches
.gradle/daemon
.gradle/wrapper
.gradle/native
.tmux/resurrect
.tmux/plugins
.config/inkscape
.vim/cache
.vim/bundle
.vim/sessions
.vim/session
.vim/plugged
.vim/autoload/plug.vim
.mpd
!.mpd/mpd.conf
database
sticker.sql
port
.config/gtk-2.0
.config/gcloud/logs
.config/configstore/update-notifier-npm.json
qalc.history
# Git files obtained somewhere else
.config/git/aliases/gitaliases
.config/git/aliases/custom
.config/git/identities
.config/git/config_custom
.config/git/commit-message
.config/git/identities
# Oh-my-shell files obtained somewhore else
.oh-my-shell/shellrc/plugins/custom
.config/gcloud
.config/tasklog
