.emacs.d/elpa
.emacs.d/auto-save-list
.gradle/caches
.gradle/daemon
.gradle/wrapper
.gradle/native
.tmux/resurrect
.tmux/plugins
.config/inkscape
.vim/cache
.vim/bundle
.vim/sessions
.vim/session
.mpd/db
.mpd/log
.mpd/mpd.db
.mpd/mpd.log
.mpd/mpdstate
.mpd/pid
.mpd/state
database
sticker.sql
