[core]
    fileMode = true
    editor = vim
    exculdesfile = ~/.gitignore_global
    # Set pager to display raw control characters
    # http://michael.otacoo.com/linux-2/avoid-escape-characters-in-git/
    pager = "less -r"

[push]
    # Push CURRENT branch to upstream branch
    # - works if both branchs have different names or same names
    # http://longair.net/blog/2011/02/27/an-asymmetry-between-git-pull-and-git-push/
    default = "upstream"

[color]
    ui = true    
     
[credential]
    helper = osxkeychain

[diff "spaceman-diff"]
  # Diff images as ASCII like images
  # spaceman-diff is expected to be on the $PATH
    command = spaceman-diff

[init]
  templatedir = ~/.git_template

[include]
    # Notes: Includes directives require git 1.7.10+
    
    #
    # Misc
    #
    path = ~/.gitconfig_custom
    
    #
    # Aliases
    #

    # Popular git aliases
    path = ~/.gitconfig_aliases_gitaliases
    # Personal but common git aliases
    path = ~/.gitconfig_aliases_common
    # Custom git aliases (per profile)
    path = ~/.gitconfig_aliases_custom 

