# Include default distribution customization
$include /etc/inputrc

# Set vi editing mode
# (bash, etc)
set editing-mode vi

# Do not ring a bell when Readline wants it
# (eg: no further completion in bash)
set bell-style none
