# .inputrc read by readline capable programs:
# - bash yes (but no zsh)

# Include default distribution customization
$include /etc/inputrc

# Enable vi mode
set editing-mode vi

# Do not ring a bell when Readline wants it
# (eg: no further completion in bash)
set bell-style none
