# Note: Add .npmrc into your project, with "global=false", to npm to install package locally
global = true
# Install global dependencies into the current user home directory
# With nvm managed npm/node binaries:
# - npm config prefix is overwrriten by .oh-my-shell/shellrc/nvm.sh
# - however npm install [-g] "package" install in the prefix below
prefix = ${HOME}/.npm
# Refuse to install any package claiming to not be compatible with the current Node.js version.
engine-strict = true
# Save dependencies to package.json when installed by default
save = true
# Do not show install progress
progress=false
