# Note: Add .npmrc into your project, with "global=false", to npm to install package locally
global = true
# Install global dependencies a user local folder
prefix = ${HOME}/.npm
# Refuse to install any package claiming to not be compatible with the current Node.js version.
engine-strict = true
# Save dependencies to package.json when installed by default
save = true
# Do not show install progress
progress=false
