<!-- src: https://github.com/rafi/.config/blob/98952835b4094b51b71d33a5d4acf97c8a4bf26e/launch/io.rafi.environment.plist -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.__USER__.xdg.environment</string>
	<key>LimitLoadToSessionType</key>
	<array>
	    <string>Aqua</string>
	    <string>Background</string>
	    <string>LoginWindow</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>sh</string>
		<string>-c</string>
        <!-- 
         XDG directories difference between Linux and macOS.
         https://practical.li/blog/posts/adopt-FreeDesktop.org-XDG-standard-for-configuration-files/
         
         On macOS, env var should be set as follow
          XDG_CONFIG_HOME -︎ ~/Library/Preferences/ using reverse domain name notation: com.apple.AppStore.appname
          XDG_DATA_HOME -︎ ~/Library/
          XDG_CACHE_HOME -︎ ~/Library/Caches/
         
         Preference for putting config files in ~/.config rather than ~/Library/Preferences
        -->
		<string>
            <!-- Keep synced with .oh-my-shell/shellrc/plugins/common/environment.sh -->
			launchctl setenv XDG_CONFIG_HOME $HOME/.config
			launchctl setenv XDG_CACHE_HOME $HOME/.cache
			launchctl setenv XDG_DATA_HOME $HOME/.local/share
			launchctl setenv XDG_STATE_HOME $HOME/.local/state

			launchctl setenv NPM_CONFIG_USERCONFIG $XDG_CONFIG_HOME/npm/npmrc

			<!-- Jetbrains idea.properties default location
			     https://intellij-support.jetbrains.com/hc/en-us/articles/207240985-Changing-IDE-default-directories-used-for-config-plugins-and-caches-storage
			-->
		    launchctl setenv IDEA_PROPERTIES $HOME/.jetbrains/intellij/idea.properties
		    launchctl setenv CLION_PROPERTIES $HOME/.jetbrains/clion/idea.properties
		    launchctl setenv APPCODE_PROPERTIES $HOME/.jetbrains/appcode/idea.properties
		    launchctl setenv DATAGRIP_PROPERTIES $HOME/.jetbrains/datagrip/idea.properties
		    launchctl setenv STUDIO_PROPERTIES $HOME/.jetbrains/android_studio/idea.properties
		    launchctl setenv WEBIDE_PROPERTIES $HOME/.jetbrains/webstorm/idea.properties
		    launchctl setenv GOLAND_PROPERTIES $HOME/.jetbrains/goland/idea.properties
		    launchctl setenv RUSTOVER_PROPERTIES $HOME/.jetbrains/rustover/idea.properties
		</string>
		<!--
		    launchctl setenv ANDROID_SDK_HOME $HOME/.local/share/android
		    launchctl setenv GNUPGHOME $HOME/.config/gnupg
		    launchctl setenv PASSWORD_STORE_DIR $HOME/docs/pass/
		    launchctl setenv TERMINFO $XDG_DATA_HOME/terminfo
		-->
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
